:root {
    --main-bg-color: #111111;
    --main-text-color: #FFFFFF;
    --accent-color: #FF6F61;
    --highlight-color: #50ade5;
    --border-radius: 5px;
    --font-family: 'Montserrat', sans-serif;
    --header-bg-gradient: linear-gradient(to top right, var(--highlight-color), #3871c1);
    --font-size-small: 12px;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

body {
    font-family: var(--font-family);
    line-height: 1.4;
    font-size: var(--font-size-small);
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    overflow-x: visible;
}

.cmyk-header-field {
    min-height: 1rem;
    background: #FFFFFF;
    width: 100%;
    margin: 0;
}

.cmyk-header {
    min-height: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--highlight-color);
    background: repeating-linear-gradient(to right,
        rgba(0, 255, 255, 1) 0rem, rgba(0, 255, 255, 1) 1rem, 
        rgba(255, 0, 255, 1) 1rem, rgba(255, 0, 255, 1) 2rem, 
        rgba(255, 255, 0, 1) 2rem, rgba(255, 255, 0, 1) 3rem, 
        rgba(0, 0, 0, 1) 3rem, rgba(0, 0, 0, 1) 4rem,
        rgba(0, 255, 255, 0.75) 4rem, rgba(0, 255, 255, 0.75) 5rem, 
        rgba(255, 0, 255, 0.75) 5rem, rgba(255, 0, 255, 0.75) 6rem, 
        rgba(255, 255, 0, 0.75) 6rem, rgba(255, 255, 0, 0.75) 7rem, 
        rgba(0, 0, 0, 0.75) 7rem, rgba(0, 0, 0, 0.75) 8rem,
        rgba(0, 255, 255, 0.5) 8rem, rgba(0, 255, 255, 0.5) 9rem, 
        rgba(255, 0, 255, 0.5) 9rem, rgba(255, 0, 255, 0.5) 10rem, 
        rgba(255, 255, 0, 0.5) 10rem, rgba(255, 255, 0, 0.5) 11rem, 
        rgba(0, 0, 0, 0.5) 11rem, rgba(0, 0, 0, 0.5) 12rem,
        rgba(0, 255, 255, 0.25) 12rem, rgba(0, 255, 255, 0.25) 13rem, 
        rgba(255, 0, 255, 0.25) 13rem, rgba(255, 0, 255, 0.25) 14rem, 
        rgba(255, 255, 0, 0.25) 14rem, rgba(255, 255, 0, 0.25) 15rem, 
        rgba(0, 0, 0, 0.25) 15rem, rgba(0, 0, 0, 0.25) 16rem/*,
        rgba(0, 255, 255, 0.05) 16rem, rgba(0, 255, 255, 0.05) 17rem, 
        rgba(255, 0, 255, 0.05) 17rem, rgba(255, 0, 255, 0.05) 18rem, 
        rgba(255, 255, 0, 0.05) 18rem, rgba(255, 255, 0, 0.05) 19rem, 
        rgba(0, 0, 0, 0.05) 19rem, rgba(0, 0, 0, 0.05) 20rem*/);
}

/* 1 - Контейнер для усіх елементів, крім футеру */
.container { 
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    background-color: var(--main-bg-color);
    width: 100%;
    overflow: hidden;
}

/* 2 - Сайдбар - блок з полями калькулятора */
.aside {
    flex: 1;
    max-width: 25%;
    padding: 0.2rem;
    margin: 0 0.2rem 0 0.2rem;
    background-color: var(--main-bg-color);
    display: block;
    border: 1px solid var(--accent-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    overflow: hidden;
}

.aside header { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
    margin: 5px;
}

.aside p {
    text-align: center;
    color: var(--main-bg-color);
    font-weight: bold;
}

.calculationFields {
    padding: 5px 10px 0 10px;
    display: flex;
    flex-direction: column;
}

.film-field {
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    border-bottom: 0.5px solid var(--accent-color);
    padding: 5px;
}

#buttons-container {
    display: flex;
    gap: 5px;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}

button {
    padding: 2px;
    background-color: var(--accent-color);
    cursor: pointer;
    text-wrap: nowrap;
    border-radius: 2px;
}

button:hover {
    background-color: var(--highlight-color);
}

/* 3 - Основний блок */
.main {
    flex: 2;
    padding: 0;
    margin: 0;
    background: var(--main-bg-color);
    color: var(--main-text-color);
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: grid;
    grid-template-areas:
        "header"
        "content";
    box-sizing: border-box;
}

/* 4 - Хедер в блоці main */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--header-bg-gradient);
    padding: 0;
    margin: 0;
    position: relative;
    min-height: 50px;
    width: 100%;
    box-sizing: border-box;
}

/* 5 - Логотип в хедері блоку main */
.header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

/* 5.1 - текст в хедері блоку main, не використовується */
.header .header-text h1 {
    font-size: 16px;
    margin: 0;
}
/* 5.2 - розміщення тексту та логотипу в хедері блоку main, не використовується */
.header-text h1, .logo {
    flex: 1;
}

/* 5.3 - Зображення в логотипі в хедері блоку main */
.header .logo img {
    max-width: 100px;
    height: auto;
    min-height: 50px;
}

/* 6 - Опис в блоці main */
.header .header-text {
    text-align: center;
    color: var(--main-text-color);
    flex-grow: 1;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.header-section {
    display: flex;
    align-items: flex-end;
    text-align: center;
    margin-bottom: 10px;
    padding: 0;
}

.header-text p {
    color: var(--main-text-color);
    gap: 5px;
    display: flex;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 10px;
}

.highlighted {
    padding: 10px;
    margin: 5px 0;
    background-color: var(--accent-color);
    color: var(--main-bg-color);
}

/* 10 - Об'єднані 3 колонки з форматами форм */
.columns {
    display: flex;
    gap: 0px;
    width: 100%;
}

/* 11 - Колонка з форматами форм та плівок */
.column {
    flex: 1;
    width: 30%;
    padding: 0;
    margin: 0;
}

/* 18 - Інформаційний блок */
.info-columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: var(--accent-color);
    color: var(--main-bg-color);
}

/* 21 - Колонки з інформацією про вивід */
.info-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    box-sizing: border-box;
    max-width: 90%; /* Зменшення ширини стовпців */
}


.info-column p {
    text-wrap: nowrap;
    margin: 0 auto;
}

/* Центрування контенту */
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* 19 - Заголовок інформаційного блоку */
.info-columns h1 {
    display: block;
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding: 0 10px;
}

/* 25 - Текст інформаційного блоку */
.info-columns p {
    display: block;
    text-align: left;
    font-weight: bold;
    margin: 0;
    padding: 0 10px;
}

/* 22 - Заголовок колонки з інформацією про вивід */
.info-column-header {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

/* 8, 14 - Колонки з описом форматів форм та плівок */ 
.plate-group, .film-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 0;
    padding: 0;
}

/* 9, 15 - Назви колонок з описом форматів форм та плівок */
.plate-header, .film-header {
    text-align: center;
    padding: 2px 0;
    font-weight: bold;
}

/* 20 - Об'єднані колонки про вивід форм */
.plate-info-columns {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

/* 7 - Контейнер для опису форм та плівок */
.format-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* 23 - Список з інформацією про вивід */
.padded-list {
    list-style: none;
    text-align: center;
    padding: 2px 0;
}

/* 24 - Елемент списку з інформацією про вивід */
.padded-list li {
    padding: 0 5px;
    text-align: left;
    font-weight: bolder;
}

/* 14 - Колонка з описом форматів плівок */
.film-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column-group {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.format-container > div {
    flex: 1;
    min-width: 0;
}

.format-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.format-container ul li {
    padding: 2px 0;
}

/* 12, 16 - Список форматів форм та плівок */
.plate-list, .film-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

/* 13.1, 17.1 - непарний елемент списку форматів форм та плівок */
.plate-list li:nth-child(odd), .film-list li:nth-child(odd) {
    background-color: var(--accent-color);
    color: var(--main-bg-color);
    font-weight: bolder;
}

/* 13.2, 17.2 - парний елемент списку форматів форм та плівок */
.plate-list li:nth-child(even), .film-list li:nth-child(even) {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    border-bottom: 1px solid var(--accent-color);
}

/* 26 - Блок з контактною інформацією */
.contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin: 5px 0;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    box-sizing: border-box;
    overflow: hidden;
}

/* 27 - Об'єднані колонки з інформацією */ 
.contact-columns {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    align-items: flex-start;
    padding-left: 10px;
    text-wrap: nowrap;
}

/* 29 - Окрема ширша колонка з інформацією */
.contact-column-wide-gap {
    margin-left: 10px;
}

/* 28 - Окрема колонка з інформацією */
.contact-column {
    flex: 1;
}

.contact-column form {
    display: flex;
    gap: 5px;
    align-items: flex-end;
}

#contactFormContainer {
    display: none;
}

#contactFormContainer.active {
    display: block;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20px;
    padding-top: 2px;
}

.footer p {
    vertical-align: middle;
}

.footer img {
    max-width: 40px;
    height: auto;
    vertical-align: middle;
}

.film-field input, .film-field select {
    width: 55%;
    height: 1.25rem;
    line-height: 1.25rem;
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    border: 1px solid var(--accent-color);
    border-radius: 3px;
    color: var(--main-text-color);
    text-align: left;
}

.film-field select {
    color: #999999;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.form-label {
    width: 55%;
    text-align: left;
    margin: 0 2px;
}

.film-field input::placeholder {
    color: #999999;
}

.film-field select option[value=""] {
    color: #999999;
}

.film-field input:focus, .film-field select:focus, .film-field select option:checked {
    outline: none;
    color: var(--main-text-color);
}

.result {
    margin-top: 5px;
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Додано для забезпечення правильного відображення */
    /*overflow: auto;*/
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    position: relative;
    z-index: 10000; /* Додано для забезпечення правильного відображення */
}

.close-btn {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
}


.close-btn:hover, .close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal.active {
    display: flex;
    /*display: block;*/
}

.sup {
    font-size: 0.8em;
    vertical-align: super;
    text-decoration: underline;
}

/* Fix for specific elements */
body.modal-active .container, body.modal-active .aside, body.modal-active .main, body.modal-active .header, body.modal-active .footer {
    z-index: 0;
}

body.modal-active .modal {
    z-index: 999;
}

.header, .section, .footer {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}


@media (max-width: 768px) {
    html, body, .header, .section, .footer {
        margin: 0;
        padding: 0;
    }

    .header, .section, .footer {
        margin: 0;
        padding: 0;
        width: 100%;
        box-sizing: border-box;
    }  

    .main {
        min-width: 100%;
        grid-template-areas:
            "header"
            "content";
        display: flex;
        flex-direction: column;
    }

    .container {
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .aside, .contacts {
        max-width: 100%;
        padding: 5px;
        margin: 2px;
        border: none;
    }

    .aside, .main {
        width: 100%;
        box-sizing: border-box;
    }

    .header {
        order: -1;
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header-text, .logo {
        margin-bottom: 0.5rem;
    }

    .info-columns {
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
        align-items: flex-start;
    }

    .columns {
        display: flex;
        gap: 5px;
        width: 100%;
        min-width: 100%;
        margin-bottom: 5px;
    }

    .format-container {
        flex-direction: column;
        padding: 0 5px;
        margin: 0;
        width: 100%;
    }

    .plate-group, .film-column {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .column {
        flex: 1;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .info-column {
        min-width: 100%;
        padding: 0 10px;
    }

    .info-column p {
        margin: 0;
    }
    
    .info-column ul {
        padding-left: 1em;
    }

    .plate-list, .film-list {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .plate-list li, .film-list li {
        padding: 2px 0;
        margin: 0; /* Прибрати відступи зліва */
    }

    .plate-list li:nth-child(even), .film-list li:nth-child(even) {
        background-color: var(--main-bg-color);
        color: var(--main-text-color);
        border-bottom: none;
    }

    .plate-list li:nth-child(odd), .film-list li:nth-child(odd) {
        background-color: var(--accent-color);
        color: var(--main-bg-color);
        font-weight: bolder;
        padding: 0;
        margin: 0;
    }

    .header-text {
        order: 1;
    }

    .logo {
        order: 2;
    }

    .header-text, .logo {
        margin: 0.5rem 0;
    }

    .contact-columns {
        flex-direction: column;
        gap: 10px;
    }

    .contact-column {
        width: 100%;
    }

    .contact-column form {
        flex-direction: column;
        align-items: flex-start;
    }
}
