:root {
    --main-bg-color: #111111;
    --main-text-color: #FFFFFF;
    --accent-color: #FF6F61;
    --highlight-color: #50ade5;
    --border-radius: 5px;
    --font-family: 'Montserrat', sans-serif;
    --header-bg-gradient: linear-gradient(to top right, var(--highlight-color), #3871c1);
    --font-size-small: 12px;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

body {
    font-family: var(--font-family);
    line-height: 1.4;
    font-size: var(--font-size-small);
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    overflow-x: visible;
}

.cmyk-header-field {
    min-height: 1rem;
    background: #FFFFFF;
    width: 100%;
    margin: 0;
}

.cmyk-header {
    min-height: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--highlight-color);
    background: repeating-linear-gradient(to right,
        rgba(0, 255, 255, 1) 0rem, rgba(0, 255, 255, 1) 1rem, 
        rgba(255, 0, 255, 1) 1rem, rgba(255, 0, 255, 1) 2rem, 
        rgba(255, 255, 0, 1) 2rem, rgba(255, 255, 0, 1) 3rem, 
        rgba(0, 0, 0, 1) 3rem, rgba(0, 0, 0, 1) 4rem,
        rgba(0, 255, 255, 0.75) 4rem, rgba(0, 255, 255, 0.75) 5rem, 
        rgba(255, 0, 255, 0.75) 5rem, rgba(255, 0, 255, 0.75) 6rem, 
        rgba(255, 255, 0, 0.75) 6rem, rgba(255, 255, 0, 0.75) 7rem, 
        rgba(0, 0, 0, 0.75) 7rem, rgba(0, 0, 0, 0.75) 8rem,
        rgba(0, 255, 255, 0.5) 8rem, rgba(0, 255, 255, 0.5) 9rem, 
        rgba(255, 0, 255, 0.5) 9rem, rgba(255, 0, 255, 0.5) 10rem, 
        rgba(255, 255, 0, 0.5) 10rem, rgba(255, 255, 0, 0.5) 11rem, 
        rgba(0, 0, 0, 0.5) 11rem, rgba(0, 0, 0, 0.5) 12rem,
        rgba(0, 255, 255, 0.25) 12rem, rgba(0, 255, 255, 0.25) 13rem, 
        rgba(255, 0, 255, 0.25) 13rem, rgba(255, 0, 255, 0.25) 14rem, 
        rgba(255, 255, 0, 0.25) 14rem, rgba(255, 255, 0, 0.25) 15rem, 
        rgba(0, 0, 0, 0.25) 15rem, rgba(0, 0, 0, 0.25) 16rem,
        rgba(0, 255, 255, 0.05) 16rem, rgba(0, 255, 255, 0.05) 17rem, 
        rgba(255, 0, 255, 0.05) 17rem, rgba(255, 0, 255, 0.05) 18rem, 
        rgba(255, 255, 0, 0.05) 18rem, rgba(255, 255, 0, 0.05) 19rem, 
        rgba(0, 0, 0, 0.05) 19rem, rgba(0, 0, 0, 0.05) 20rem);
}

/* Контейнер */
.container {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    background-color: var(--main-bg-color);
    width: 100%;
    overflow: hidden;
}

/* Сайдбар */
.aside {
    flex: 1;
    max-width: 25%;
    padding: 0.2rem;
    margin: 0 0.2rem 0 0.2rem;
    background-color: var(--main-bg-color);
    display: block;
    border: 1px solid var(--accent-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    overflow: hidden;
}

.aside header { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
    margin: 5px;
}

.aside p {
    text-align: center;
    color: var(--main-bg-color);
    font-weight: bold;
}

.calculationFields {
    padding: 5px 10px 0 10px;
    display: flex;
    flex-direction: column;
}

.film-field {
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    border-bottom: 0.5px solid var(--accent-color);
    padding: 5px;
}

#buttons-container {
    display: flex;
    gap: 5px;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}

button {
    padding: 2px;
    background-color: var(--accent-color);
    cursor: pointer;
    text-wrap: nowrap;
    border-radius: 2px;
}

button:hover {
    background-color: var(--highlight-color);
}

/* Основний контент */
.main {
    flex: 2;
    padding: 0px;
    background: var(--main-bg-color);
    color: var(--main-text-color);
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: grid;
    grid-template-areas:
        "header"
        "content";
    gap: 1rem;
    box-sizing: border-box;
}

/* Основний хедер */
.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--header-bg-gradient);
    padding: 0;
    margin: 0;
    position: relative;
    min-height: 50px;
    width: 100%;
    box-sizing: border-box;
}

.header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.header .logo img {
    max-width: 100px;
    height: auto;
    min-height: 50px;
}

.header .header-text {
    text-align: center;
    color: var(--main-text-color);
    flex-grow: 1;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.header .header-text h1 {
    font-size: 16px;
    margin: 0;
}

.header-text h1, .logo {
    flex: 1;
}

.header-section {
    display: flex;
    align-items: flex-end;
    text-align: center;
    margin-bottom: 10px;
    padding: 0;
}

.header-text p {
    color: var(--main-text-color);
    gap: 5px;
    display: flex;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 10px;
}

.highlighted {
    padding: 10px;
    margin: 5px 0;
    background-color: var(--accent-color);
    color: var(--main-bg-color);
}

.columns {
    display: flex;
    gap: 0px;
    width: 100%;
}

.column {
    flex: 1;
    width: 30%;
    padding: 0;
    margin: 0;
}

.info-columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0 5px;
}

.info-column {
    flex: 1;
    min-width: 30%;
    padding: 0 5px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info-column p {
    margin: 0 auto;
}

/* Центрування контенту */
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.info-column-center {
    display: block;
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding: 0 10px;
}

.info-column-left {
    display: block;
    text-align: left;
    font-weight: bold;
    margin: 0;
    padding: 5px 0;
}

.info-column ul {
    list-style: none;
    padding: 0 5px;
    margin: 0;
    margin-bottom: 2px;
    text-align: left;
    padding-left: 2em;
}

.info-column ul li {
    padding: 2px 0;
    text-align: left;
    font-weight: bolder;
}

.formats-group, .widths-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 0;
    padding: 0;
}

.formats-header, .widths-header {
    text-align: center;
    padding: 2px 0;
    font-weight: bold;
}

.columns-container {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.info-column, .info-column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.widths-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column-group {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.columns-container > div {
    flex: 1;
    min-width: 0;
}

.columns-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.columns-container ul li {
    padding: 2px 0;
}

.formats-list, .widths-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.formats-list li:nth-child(odd), .widths-list li:nth-child(odd) {
    background-color: var(--accent-color);
    color: var(--main-bg-color);
    font-weight: bolder;
}

.formats-list li:nth-child(even), .widths-list li:nth-child(even) {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    border-bottom: 1px solid var(--accent-color);
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin: 5px 0;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    box-sizing: border-box;
    overflow: hidden;
}

.contact-columns {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    align-items: flex-start;
    padding-left: 10px;
    text-wrap: nowrap;
}

.contact-column-wide-gap {
    margin-left: 10px;
}

.contact-column {
    flex: 1;
}

.contact-column form {
    display: flex;
    gap: 5px;
    align-items: flex-end;
}

#contactFormContainer {
    display: none;
}

#contactFormContainer.active {
    display: block;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20px;
    padding-top: 2px;
}

.footer p {
    vertical-align: middle;
}

.footer img {
    max-width: 40px;
    height: auto;
    vertical-align: middle;
}

.film-field input, .film-field select {
    width: 55%;
    height: 1.25rem;
    line-height: 1.25rem;
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    border: 1px solid var(--accent-color);
    border-radius: 3px;
    color: var(--main-text-color);
    text-align: left;
}

.film-field select {
    color: #999999;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.form-label {
    width: 55%;
    text-align: left;
    margin: 0 2px;
}

.film-field input::placeholder {
    color: #999999;
}

.film-field select option[value=""] {
    color: #999999;
}

.film-field input:focus, .film-field select:focus, .film-field select option:checked {
    outline: none;
    color: var(--main-text-color);
}

.result {
    margin-top: 5px;
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-btn {
    color: #aaa;
    float: right;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover, .close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal.active {
    display: block;
}

.sup {
    font-size: 0.8em;
    vertical-align: super;
    text-decoration: underline;
}

/* Fix for specific elements */
.header, .section, .footer {
    width: 100%;
    box-sizing: border-box;
}

body.modal-active .container, body.modal-active .aside, body.modal-active .main, body.modal-active .header, body.modal-active .footer {
    z-index: 0;
}

body.modal-active .modal {
    z-index: 999;
}

.header, .section, .footer {
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .main {
        min-width: 100%;
        grid-template-areas:
            "header"
            "content";
        display: flex;
        flex-direction: column;
    }

    .container {
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .aside, .contacts {
        max-width: 100%;
        padding: 5px;
        margin: 2px;
        border: none;
    }

    .aside, .main {
        width: 100%;
        box-sizing: border-box;
    }

    .header {
        order: -1;
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header-text, .logo {
        margin-bottom: 0.5rem;
    }

    .columns, .info-columns {
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .info-columns {
        align-items: flex-start;
    }

    .columns-container {
        padding: 0 5px;
        margin: 0;
        width: 100%;
    }

    .formats-group, .widths-column {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .column {
        min-width: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .info-column {
        min-width: 100%;
        padding: 0 10px;
    }

    .info-column p {
        margin: 0;
    }
    
    .info-column ul {
        padding-left: 1em;
    }

    .widths-list, .columns {
        min-width: 100%;
        margin-bottom: 5px;
    }

    .formats-list li:nth-child(even), .widths-list li:nth-child(even) {
        background-color: var(--main-bg-color);
        color: var(--main-text-color);
        border-bottom: none;
    }

    .formats-list li:nth-child(odd), .widths-list li:nth-child(odd) {
        background-color: var(--accent-color);
        color: var(--main-bg-color);
        font-weight: bolder;
        padding: 0;
        margin: 0;
    }

    .header-text {
        order: 1;
    }

    .logo {
        order: 2;
    }

    .header-text, .logo {
        margin: 0.5rem 0;
    }

    .contact-columns {
        flex-direction: column;
        gap: 10px;
    }

    .contact-column {
        width: 100%;
    }

    .contact-column form {
        flex-direction: column;
        align-items: flex-start;
    }
}
